'use client'

import * as S from './{{pascalCase name}}.styles'

type {{pascalCase name}}Props = {}

export function {{pascalCase name}}({}: {{pascalCase name}}Props) {
  return (
    <S.{{pascalCase name}}Container>
     <h1>{{pascalCase name}}</h1>
    </S.{{pascalCase name}}Container>
  )
}
